:root {
  --font-body: 500 1.25rem Helvetica, sans-serif;
  --layout-margin: 7rem;
}
.html {
  font-size: 16px;
}
body {
  margin: 0;
  font: var(--font-body);
}
.bg {
  background-image: url('./assest/bg.jpg');
  height: 100vh;
  width: 100vw;
  display: inline-table;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  opacity: 0;
  transition: transform 800ms ease, opacity 800ms ease;
  transform: translate(-100%, 0);
}
.container.visible {
  opacity: 1;
  transform: translate(0, 0);
}
.card {
  transition: transform 800ms ease;
}
.card.scale:hover {
  transform: scale(1.025);
}

h1 {
  text-shadow: 0 1px 2px rgb(106, 106, 206);
}
.margin {
  margin: var(--layout-margin) auto;
}
.alert.alert-primary {
  opacity: 0;
  transition: transform 800ms ease, opacity 800ms ease;
  transform: translate(-100%, 0);
}
.alert.alert-success,
.alert.alert-danger {
  opacity: 1;
  transition: transform 800ms ease, opacity 800ms ease;
  transform: translate(0, 0);
}
.alert.alert-success ~ .alert.alert-primary,
.alert.alert-danger ~ .alert.alert-primary {
  opacity: 0;
  transition: opacity 800ms ease, transform 800ms ease;
  transform: translate(-100%, 0), translate(scale(0));
}

/* alert alert-primary */
