@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --font-body: 500 1.25rem 'Open Sans', Helvetica, sans-serif;
  --layout-margin: 1rem;
}
.html {
  font-size: 16px;
}
body {
  margin: 0;
  font: var(--font-body);
}
.bg {
  background-image: url('./assest/bg.jpg');
  height: 100vh;
  width: 100vw;
  display: inline-table;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: var(--layout-margin) auto;
  opacity: 0;
  transition: transform 500ms ease, opacity 500ms ease;
  transform: translate(-100%, 0) scale(0);
}
.container.visible {
  padding: 1rem;
  margin: auto;
  opacity: 1;
  transform: translate(0, 0) scale(1);
}

.row {
  margin: 0;
  flex: 1;
  align-self: center;
}

h1 {
  text-shadow: 0 1px 2px rgb(106, 106, 206);
}
.col-md-12 {
  margin: 0;
  padding: 0;
}

.alert.alert-primary {
  opacity: 0;
  transition: transform 500ms ease, opacity 500ms ease;
  transform: translate(-100%, 0);
}
.alert.alert-success,
.alert.alert-danger {
  opacity: 1;
  transition: transform 500ms ease, opacity 500ms ease;
  transform: translate(0, 0);
}
.alert.alert-success ~ .alert.alert-primary,
.alert.alert-danger ~ .alert.alert-primary {
  opacity: 0;
  transition: opacity 800ms ease, transform 800ms ease;
  transform: translate(-100%, 0) scale(0);
}

.page {
  margin: var(--layout-margin);
}
/* 
a .card-body:active {
  animation: click 300ms ease;
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    background-color: cornflowerblue;
    transform: scale(5);
  }
  100% {
    background-color: white;
    transform: scale(1);
  }
} */
